<!doctype html>
<html>
  <head>
    <title>Testing course platform setup</title>  
    <link rel="stylesheet" type="text/css" href="/static/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap-social/bootstrap-social.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>