<!doctype html>
<html>
  <head>
    <title>Testing course platform setup</title>  
    <link rel="stylesheet" type="text/css" href="/static/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap-social/bootstrap-social.css" />
    <style>
      body {
          background-color: #505050;
      }
      .vertical-center {
        min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 100vh; /* These two lines are counted as one :-)       */
        display: flex;
        align-items: center;
        text-align: center;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="vertical-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6">
            <p>Welcome to testing course platform setup</p>
            <a class="btn btn-block btn-social btn-github" href="/signin">
              <span class="fa fa-github"></span> {{ action }} with GitHub
            </a>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
